---
layout: default
onepage: true
services:
  - title: Design
    icon: fa fa-bell-o
    desc: Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus.
    bg: /assets/images/@stock/service-item-1-bg.jpg
  - title: Art direction
    icon: fa fa-lightbulb-o
    desc: Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus.
    bg: /assets/images/@stock/service-item-2-bg.jpg
  - title: Branding
    icon: fa fa-bookmark-o
    desc: Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus.
    bg: /assets/images/@stock/service-item-3-bg.jpg
  - title: Photography
    icon: fa fa-heart-o
    desc: Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus.
    bg: /assets/images/@stock/service-item-4-bg.jpg
  - title: Marketing
    icon: fa fa-flag-o
    desc: Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus.
    bg: /assets/images/@stock/service-item-5-bg.jpg
  - title: Support
    icon: fa fa-comment-o
    desc: Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus.
    bg: /assets/images/@stock/service-item-6-bg.jpg
works:
  - path: _works/floral.md
    style: wide
  - path: _works/music.md 
    style: wide
  - path: _works/art.md
  - path: _works/costumes.md
members:
  - avatar: /assets/images/@stock/member-7.png
    name: Allie Padget
    position: Founder
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
    desc:
      "Bio here"
team_slides:
  - /assets/images/music-15-wrap.jpg
  - /assets/images/floral-13-wrap.jpg
  - /assets/images/music-11-wrap.jpg
  - /assets/images/floral-17-wrap.jpg
  - /assets/images/music-10-wrap.jpg
  - /assets/images/floral-02-wrap.jpg

testimonials:
  - quote: "Allie stands out for her self-motivation, intrinsic curiosity, thoughtfulness, attention to
detail, and creativity."
    author: 
      name: "Kaitlin Edwards"
      avatar: '/assets/images/author-avatar-1.jpg'
      position: 'Environmental Science Instructor at Summit Technology Academy'
  - quote: "Allie's work ethic at the School is second to none and I can tell that her dedication inspires other students. She has also always been
great at taking constructive criticism and never bats an eye when asked to take a different approach to something."
    author: 
      name: "David O'Brien"
      avatar: '/assets/images/author-avatar-2.jpg'
      position: 'Music Director, School of
Rock'

clients:
  - /assets/images/client-01.jpg
  - /assets/images/client-02.jpg
  - /assets/images/client-03.svg
  - /assets/images/client-04.jpg  
---

<div class='full full-custom no-padding parallax home-video-wrapper' style="background-image: url({{ "/assets/images/hero-right.jpg" | relative_url }})">
  <div class='fullscreen'>
    <!--   
    <video autoplay='autoplay' id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/@stock/cover-video.optimized.mp4" | relative_url }}' type='video/mp4'>
    </video>
    -->
    <div class='overlay'></div>
    <div class='layer'>
      <p class="small-title">Allie Padget knows</p>
      <h1 class='thin' id="to-be-update">
         <span class="fir">Flowers.</span><br/>
         <span class="sec">Science.</span><br/>
         <span class="thir">Creativity.</span>
      </h1>
      <h2 class='thin'>
       I am building my education and experience toward a career in floriculture.
       {% assign nav_obj = site.data.nav | where:'section_id','works' | first %}
       <a href='{{ "index.html" | append:nav_obj.path | relative_url }}'>See my interests</a>
      </h2>
    </div>
  </div>
</div>

<a id='about'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">Allie is</p>
        <h2>
          Pursuing a career  <br/> 
          in plant science.
        </h2>
        <p class="big-size">I am a dedicated student and worker with a strong interest in floriculture. I am seeking environments where I can learn from others about this field in a hands-on way.  I am also a creative person who enjoys taking ideas from vision to reality.</p>
        <div class="four spacing"></div>
        <img src="{{ "/assets/images/logo.svg" | relative_url }}" alt="">
      </div>
    </div>
    <div class="four spacing"></div>
  </div>
</div>


<a id='experience'></a>
<div class="full no-overflow no-padding parallax" style="background-image: url({{ "/assets/images/floral-14.jpg" | relative_url }})">
  <div class="left-half">
    <div class="two spacing"></div>
    <div class="section-header alt white">
      <h2>On-the-job experience</h2>
    </div>
    <p class="light">I am an experienced florist with a deep passion for flowers and horticulture.  In my own time I focus on my love for artistic and science related endeavors. I thrive in innovative environments, and I am driven to bring ideas to life and contribute to inspiring projects.</p>
    <p class="light">I am a hard worker and determined student.  Just like my family's values, I am focused and motivated.  I enjoy learning new things and applying those skills to satisfy customers.</p>
    <div class="two spacing"></div>
    <a href="#resume" class="button small">Download my resume</a>
    <div class="three spacing"></div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="Allie has worked for" title="These Companies" %}
    </div>
  </div>
</div>
<div class="full no-padding">
  <div class="clients">
    <div class='row'>
      {% for client in page.clients %}
        <div class='large-3 medium-6 small-6 columns'>
          <div class="client">
            <a href="javascript:void(0)"><img alt="" src="{{ client | relative_url }}" style="max-height: 100px;" /></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="four spacing"></div>
</div>

<!-- 
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">Experience</p>
        <h2>We transform business.</h2>
      </div>
    </div>
  </div>
</div>
<div class='full no-overflow no-padding'>
  <div class='main-services'>
    {% for item in page.services %}
      <div class='medium-6 large-4 columns'>
        {% include service.html service=item %}
      </div>
    {% endfor %}
  </div>
</div> -->


<a id='recommendations'></a>
<div class='full no-overflow no-padding parallax' style="background-image: url({{ "/assets/images/floral-24.jpg" | relative_url }})">
  <div class="right-half">
    <div class="two spacing"></div>
    <div class="row">
      <div class="section-header alt white">
        <h2>What people say about me</h2>
      </div>
      <div class='mod modTestimonials simple'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items'>
              {% for t in page.testimonials %}
                <div class='item'>
                  <p class='quote'>{{ t.quote }}</p>
                  <div class="two spacing"></div>
                  <div class='author'>
                    <p class='author-avatar'>
                      <img width="80" height="80" alt="" src="{{ t.author.avatar | relative_url }}" />
                    </p>
                    <p class='author-name'>
                      -
                      <strong>{{ t.author.name }}</strong>
                      {%- if t.author.position %}, {{ t.author.position }}{% endif %}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<a id='creative-pursuits'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="Check out Allie's" title="Creative Pursuits" %}
    </div>
  </div>
</div>
<div class='full no-padding' id="demo-1-works">
  <div class='mod modMasonryGallery'>
    <ul class='gallery'>

      {% for item in page.works %}

        {% assign work = site.works | where:"path",item.path | first %}

        {% if item.style == 'wide' %}
          {% assign class = 'wide' %}
          {% assign width = 1000 %}
          {% assign height = 350 %}
        {% else %}
          {% assign class = '' %}
          {% assign width = 500 %}
          {% assign height = 350 %}
        {% endif %}

        <li class="{{class}}">
          <a href='{{ work.url | relative_url }}'>
            <img width="{{width}}" height="{{height}}" alt="" src="{{ work.thumbnail | relative_url }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title | downcase | capitalize }}</h3>
                <p>{{ work.categories | join:" & " | escape }}</p>
              </div>
            </div>
          </a>
        </li>

      {% endfor %}

    </ul>
  </div>
</div>


<a id='resume'></a>
<div class='full dark no-padding '>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3 class="white">Download my resume</h3>
      <p>
        Click the button for a PDF outlining my education and experience.
      </p>
    </div>
    <div class='large-4 columns'>
      <p>
        <a class='button small boxed' href='APadget-resume-redacted.pdf'>Download Now</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>
</div>




<!-- generic rotating slideshow -->
<div class="full dark no-padding">
  <div class='mod modBoxedSlider' data-timeout='1500'>
    <div class='slides'>
      {% for image in page.team_slides %}
        <div class='slide'>
          <img width="1200" height="800" alt="" src="{{ image | relative_url }}" />
        </div>
      {% endfor %}
    </div>
  </div>
</div>


<a id='contact'></a>
{% include contact-form.html %}




<!-- <div class='full dark-grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="The team" title="Hello! This is us." %}
    </div>
  </div>
</div>
<div class="full dark-grey no-padding">
  <div class="members">
    {% for member in page.members %}
      <div class="small-3 columns">
        <div class='member-avatar'>
          <img class="avatar" alt="" src="{{ member.avatar | relative_url }}" />
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="full no-padding team-bg">
  <div class="div member-decs">
    {% for member in page.members %}
      <div class="large-3 columns">
        <div class='member-dec'>
          <div class='intro'>
            <h3>{{ member.name | escape }}</h3>
            <h4>{{ member.position | escape }}</h4>
            <p>{{ member.desc | escape }}</p>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{ social.link }}'>
                    <i class='fa fa-{{ social.icon }}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="four spacing"></div>
</div> -->

<!-- 
<a id='blog'></a>
<div class='full grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="latest posts" title="Wrap ideas." %}
    </div>
  </div>
</div>
<div class="full grey no-padding no-overflow">
  {% for post in site.posts limit:3 %}
    <div class='large-4 columns'>
      <div class='mod modBlogPost simple'>
        <div class='content'>
          <p class='date'>{{ post.date | date: "%B %d, %Y" }}</p>
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <div class='spacing'></div>
          <p>
            <a class='button boxed yellow tiny' href='{{ post.url | relative_url }}'>Read more</a>
          </p>
        </div>
      </div>
      <div class="four spacing"></div>
    </div>
  {% endfor %}
</div> -->
