<div class='full dark'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="contact" title="Email me" %}
      <div class="section-title">
        <p class="big-size">
          <div class='border-wrapper'>
            <div class='borders'>
              <div class='top'></div>
              <div class='right'></div>
              <div class='bottom'></div>
              <div class='left'></div>
            </div>
            <div class='contact-details'>
              <div class='content'>
                <h4>Location:</h4>
                <p>Kansas City, MO</p>
                <h4>Email:</h4>
                <p>me@alliepadget.com</p>
              </div>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>