.full-custom {
  background-size: contain;
  background-position-y: unset;

  background-position-x: right;
  background-repeat: no-repeat;
  background-color: black;
}

@media only screen and (max-width: 50em) {
  .full-custom {
    background-size: 90%;
    background-position-y: bottom;
  }

  .home-custom {
    top: 12% !important;
  }
}